<!-- Footer -->
<footer class="bd-footer py-4 py-md-5 mt-5 bg-light">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
                <span class="fs-5">Zephyra</span>
                </a>
                <ul class="list-unstyled small">
                <li class="mb-2">Zephyra es una tienda de ropa enfocada en ofrecer estilos modernos y frescos, ideales para quienes buscan moda actual con un toque de elegancia y comodidad. La tienda se distingue por su selección de prendas versátiles y de alta calidad, diseñadas para adaptarse a diversas ocasiones, desde lo casual hasta lo más formal. Con una atención especial a los detalles y las tendencias, Zephyra busca brindar una experiencia de compra que combine estilo y funcionalidad.</li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-xl-3  mb-3 ps-xl-5">
                <h5>Ayuda</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a th:href="@{/politicaDevoluciones}">Política de devoluciones</a></li>
                    <li class="mb-2"><a th:href="@{/politicaEnvios}">Política de envios</a></li>
                    <li class="mb-2"><a th:href="@{/preguntasFrecuentes}">Preguntas frecuentes</a></li>
                    <li class="mb-2"><a th:href="@{/sugerencia}">Realizar una sugerencia</a></li>
                    <li class="mb-2"><a th:href="@{/formularioDevolucion}">Realizar una devolución</a></li>
                    <li class="mb-2"><a th:href="@{/libroReclamaciones}">Libro de reclamaciones</a></li>
                    <li class="mb-2"><a th:href="@{/servicioEntrega}">Servico de entrega</a></li>
                    <li class="mb-2"><a th:href="@{/contactanos}">Contacto</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mb-3 ps-xl-5">
                <h5>Mi cuenta</h5>
                <ul class="list-unstyled">
                    <li class="mb-2 clickeable"><a data-bs-toggle="modal" data-bs-target="#modalLogin">Acceso</a></li>
                    <li class="mb-2 clickeable"><a data-bs-toggle="modal" data-bs-target="#modalLogin">Registro</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-xl-3"> 
                <h4>Únete a la familia Zephyra</h4>
                <p>Recibe actualizaciones al instante, acceso a ofertas exclusivas, detalles de lanzamientos de productos y mucho más</p>
                <form action="#">
                    <input type="email" placeholder="Ingresa tu dirección de correo electrónico" class="form-control mb-2" required>
                    <button type="submit" class="btn btn-custom">Subscribirse</button>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <ul class="container">
                <li class="list-inline-item border border-light rounded-circle text-center">
                    <a class="text-decoration-none" href="http://facebook.com/" style="color: black;"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                </li>
                <li class="list-inline-item border border-light rounded-circle text-center">
                    <a class="text-decoration-none" target="_blank" href="https://www.instagram.com/" style="color: black;"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                </li>
                <li class="list-inline-item border border-light rounded-circle text-center">
                    <a class="text-decoration-none" target="_blank" href="https://twitter.com/" style="color: black;"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                </li>
                <li class="list-inline-item border border-light rounded-circle text-center">
                    <a class="text-decoration-none" target="_blank" href="https://www.linkedin.com/" style="color: black;"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                </li>
            </ul>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 - ZEPHYRA. All rights reserved.</p>
                <div class="payment-icons mt-2">
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-apple-pay"></i>
                    <i class="fab fa-cc-discover"></i>
                    <i class="fab fa-cc-stripe"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->