<!-- Header con menú de navegación -->
<header class="main-header">   
    <div class="top-bar">
        <a th:text="#{topBar}">ENVÍO A TODO EL PERÚ 🚚</a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="row row-cols-3">
                <section class="offcanvas offcanvas-start pt-5 pt-lg-0" id="menuLateral" tabindex="-1">
                    <div class="offcanvas-header">
                        <img src="/img\Logos\logo_principal2.png" class="rounded mx-0 d-block" alt="Zephyra Logo" style="width: 50px;">
                        <button class="btn-close" type="button" aria-label="close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <ul class="navbar-nav justify-content-evenly mx-3">
                        <li class="nav-item dropdown p-1 py-md-1">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" th:text="#{nav.hombres}">
                                HOMBRES
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li th:each="categoria : ${categoriasHombre}">
                                    <a class="dropdown-item" th:href="@{/public/productos/categoria/{id}(id=${categoria.id})}" th:text="${categoria.nombre}"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown p-1 py-md-1">
                            <a class="nav-link" href="#" id="navbarDropdownForHer" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" th:text="#{nav.mujeres}">
                                MUJERES
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li th:each="categoria : ${categoriasMujer}">
                                    <a class="dropdown-item" th:href="@{/public/productos/categoria/{id}(id=${categoria.id})}" th:text="${categoria.nombre}"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown p-1 py-md-1">
                            <a class="nav-link" href="#" id="navbarDropdownNewDrop" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                th:text="#{nav.nuevo}">
                                NUEVO
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownNewDrop">
                                <a class="dropdown-item" th:href="@{/public/productos/categoria/{id}(id=6)}" th:text="#{proximo}">Próximo Lanzamiento</a>
                                <a class="dropdown-item" th:href="@{/public/productos/categoria/{id}(id=7)}" th:text="#{destacado}">Destacado</a>
                                <a class="dropdown-item" th:href="@{/public/productos/categoria/{id}(id=8)}"
                                    th:text="#{reabastecimiento}">Reabastecimiento</a>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <a class="nav justify-content-center" th:href="@{/}">
                <img src="/img/Logos/logo_principal2.png" class="nav-logo rounded mx-auto d-block" alt="Zephyra Logo">
            </a>
            <ul class="nav justify-content-end">

                <li class="nav-item dropdown" th:if="${usuario != null}">
                    <!-- Nombre del usuario que despliega el menú -->
                    <a class="nav-link dropdown-toggle clickeable" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bienvenido, <span th:text="${usuario.fullName}"></span>
                    </a>
                    
                    <!-- Menú desplegable -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Opción de cerrar sesión -->
                        <li>
                            <a class="dropdown-item" href="/logout">
                                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item d-none d-md-block">
                <a  class="nav-link clickeable" th:if="${usuario != null and usuario.role == 'ADMIN'}" href="/ADM">Administrar</a>
                </li>

                <li class="nav-item d-none d-md-block">
                    <a class="nav-link" href="https://l.instagram.com/?u=https%3A%2F%2Fwa.link%2Ff1vdzy&e=AT0MkH1DY8S9eyfVkbN9SwWYXvRai-rs7t_w4ORpbHknu8Ypztbty8SrCEH8G7J_up_ex5VdmSezYtB_cLmjuJz2Az9VtUpTRUZy4PoFNxKz8MbBFSe8zA"><i class="fa-brands fa-whatsapp fa-beat"></i> (818) 206-8764</a>
                </li>

                <!-- Botón de login solo si el usuario no está autenticado -->
                <li class="nav-item" th:if="${usuario == null}">
                    <a class="nav-link clickeable" data-bs-toggle="modal" data-bs-target="#modalLogin">
                        <i class="fas fa-user"></i> Ingresar
                    </a>
                </li>

                <li class="nav-item" th:if="${usuario != null}">
                    <a href="/public/carrito/ver" class="nav-link clickeable"><i class="fas fa-shopping-bag"></i></a>
                </li>
                

                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" class="nav-link" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-globe"></i> <span id="languageText" th:text="#{idioma}">ES</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            <li><a class="dropdown-item" href="?lang=es" th:text="#{espanol}">Español</a></li>
                            <li><a class="dropdown-item" href="?lang=en" th:text="#{ingles}">Inglés</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Header con menú de navegación -->
<!-- Modal del login-->
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel" th:text="#{login}">Iniciar sesión o Registrarse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Logo de la empresa -->
                <div class="logo text-center mb-3">
                    <img src="/img/Logos/logo_principal.png" alt="Logo de la Empresa" style="max-width: 30%; height: auto;">
                </div>
                <!-- Pestañas de navegación -->
                <ul class="nav nav-login nav-tabs" id="authTab" role="tablist">
                    <li class="nav-item w-50 h-100" role="presentation">
                        <button class="nav-link active w-100 h-100 d-flex align-items-center justify-content-center" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true" th:text="#{iniciar-sesion}">Iniciar Sesión</button>
                    </li>
                    <li class="nav-item w-50 h-100" role="presentation">
                        <button class="nav-link w-100 h-100 d-flex align-items-center justify-content-center" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab" aria-controls="register" aria-selected="false" th:text="#{registrarse}">Registrarse</button>
                    </li>
                </ul>
                <div class="tab-content mt-3" id="authTabContent">
                    <!-- Formulario de Iniciar Sesión -->
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <form th:action="@{/login}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label" th:text="#{correo}">Correo electrónico</label>
                                <input type="email" class="form-control" id="username" name="username" th:placeholder="#{ejemplo.correo}" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label" th:text="#{contra}">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" th:placeholder="#{ejemplo.contra}" required>
                            </div>
                            <button type="submit" class="btn btn-custom w-100" th:text="#{botonlogin}">Iniciar Sesión</button>
                            <!-- Opciones de iniciar sesión con Google y Facebook -->
                            <div class="text-center my-3" th:text="#{opciones-login}">o inicia sesión con</div>
                            <button type="button" class="btn btn-outline-custom btn-social w-100">
                                <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google">Google
                            </button>
                            <button type="button" class="btn btn-outline-custom btn-social w-100">
                                <img src="https://img.icons8.com/color/48/000000/facebook.png" alt="Facebook">Facebook
                            </button>
                        </form>      
                    </div>
                    <!-- Formulario de Registro -->
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <form th:action="@{/register}" method="post">
                            <div class="mb-3">
                                <label for="registerUsername" class="form-label" th:text="#{correo}">Correo electrónico</label>
                                <input type="text" class="form-control" id="registerUsername" name="username" th:placeholder="#{ejemplo.correo}" required>
                            </div>
                            <div class="mb-3">
                                <label for="registerDNI" class="form-label" th:text="#{dni}">DNI</label>
                                <input type="text" class="form-control" id="registerDNI" name="dni" th:placeholder="#{ejemplo.dni}" required>
                            </div>
                            <div class="mb-3">
                                <label for="registerName" class="form-label" th:text="#{nombre.completo}">Nombre completo</label>
                                <input type="text" class="form-control" id="registerName" name="fullName" th:placeholder="#{ejemplo.nombre}" required>
                            </div>
                            <div class="mb-3">
                                <label for="registerAddress" class="form-label" th:text="#{direccion}">Dirección</label>
                                <input type="text" class="form-control" id="registerAddress" name="address" th:placeholder="#{ejemplo.direccion}" required>
                            </div>
                            <div class="mb-3">
                                <label for="registerPhoneNumber" class="form-label" th:text="#{telefono}">Número de teléfono</label>
                                <input type="tel" class="form-control" id="registerPhoneNumber" name="phoneNumber" th:placeholder="#{ejemplo.telefono}" required>
                            </div>
                            <div class="mb-3">
                                <label for="registerPassword" class="form-label" th:text="#{contra}">Contraseña</label>
                                <input type="password" class="form-control" id="registerPassword" name="password" th:placeholder="#{ejemplo.contra}" required>
                            </div>
                            <button type="submit" class="btn btn-custom w-100" th:text="#{registrarse}">Registrarse</button>
                            <!-- Opciones de registrarse con Google y Facebook -->
                            <div class="text-center my-3" th:text="#{opciones-regis}">o regístrate con</div>
                            <button type="button" class="btn btn-outline-custom btn-social w-100">
                                <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google"> Google
                            </button>
                            <button type="button" class="btn btn-outline-custom btn-social w-100">
                                <img src="https://img.icons8.com/color/48/000000/facebook.png" alt="Facebook"> Facebook
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal del login-->


