<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zephyra | Galeria</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Logo en el navegador -->
    <link rel="apple-touch-icon" href="/img/Logos/logo_principal2.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logos/logo_Zephyra.ico">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Cloudflare -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Fonts - Afacad Flux -->
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <div th:replace="fragments/header"></div>

    <!-- Shop Start -->
    <div class="container-fluid pt-4">
        <div class="row px-xl-3">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <div class="accordion p-0" id="accordionPanelsStayOpenExample">
                    <!-- Filtro por precio -->
                    <div class="custom-accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne">
                                Filtro por precio
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                            <div class="p-4">
                                <form>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="price-all" checked>
                                        <label class="custom-label" for="price-all">Todo los precios</label>
                                        <span class="badge">1000</span>
                                    </div>
                                    <!-- Rango de precios -->
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="price-1">
                                        <label class="custom-label" for="price-1">$0 - $100</label>
                                        <span class="badge">150</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="price-2">
                                        <label class="custom-label" for="price-2">$100 - $200</label>
                                        <span class="badge">295</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="price-3">
                                        <label class="custom-label" for="price-3">$200 - $300</label>
                                        <span class="badge">246</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="price-4">
                                        <label class="custom-label" for="price-4">$300 - $400</label>
                                        <span class="badge">145</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="price-5">
                                        <label class="custom-label" for="price-5">$400 - $500</label>
                                        <span class="badge">168</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Filtro por tamaño -->
                    <div class="custom-accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Filtro por talla
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="p-4">
                                <form>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="size-all" checked>
                                        <label class="custom-label" for="size-all">Todas las tallas</label>
                                        <span class="badge">1000</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="size-1">
                                        <label class="custom-label" for="size-1">XS</label>
                                        <span class="badge">150</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="size-2">
                                        <label class="custom-label" for="size-2">S</label>
                                        <span class="badge">295</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="size-3">
                                        <label class="custom-label" for="size-3">M</label>
                                        <span class="badge">246</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="size-4">
                                        <label class="custom-label" for="size-4">L</label>
                                        <span class="badge">145</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3 px-3 py-2">
                                        <input type="checkbox" class="hidden-checkbox" id="size-5">
                                        <label class="custom-label" for="size-5">XL</label>
                                        <span class="badge">168</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shop Sidebar End -->

           
                    <!-- Productos -->
    
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                           
                            <div class="col-md-3 mb-4" th:each="producto : ${productos}">
                                <div class="producto">
                                    <div class="card" style="width: 250px;">
                                        <!-- Imagen con altura de 300px y objeto recortado -->
                                        <img th:src="@{${producto.imageUrl}}" class="card-img-top img-fluid" alt="Imagen del producto" style="height: 350px; object-fit: cover;">
                                        <div class="card-body text-dark">
                                            <h5 class="card-title" th:text="${producto.nombre}"></h5>
                                            <p class="card-text" th:text="'Precio regular: $' + ${producto.precio}" style="text-decoration: line-through; color: gray;" th:if="${producto.enOferta}"></p>
                                            <p class="card-text" th:text="'Precio oferta: $' + ${producto.precioOferta}" style="color: red;" th:if="${producto.enOferta}"></p>
                                            <p class="card-text" th:text="'Precio: $' + ${producto.precio}" 
                                             th:if="${!producto.enOferta}"></p>
                                            <!-- Botón con estilo en negro y texto blanco -->
                                            <a th:href="@{/public/detalleProducto/{id}(id=${producto.id})}" class="btn btn-dark">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    <!-- Footer -->
    <div th:replace="fragments/footer"></div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Custom javascript -->
    <script src="/js/script.js"></script>
    <!-- Animaciones del carousel -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>